<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from lms.djangoapps.courseware.toggles import is_courses_default_invite_only_enabled
from django.conf import settings
from six import text_type
from common.djangoapps.edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url

from six import string_types
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        // redirect unauthenticated user to the login page
        location.replace("${reverse('signin_user') | n, js_escaped_string}?next=" + encodeURIComponent("${request.path | n, js_escaped_string}"));
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">О курсе</%block>

<style>
    .jumbotron-brand {
        background-color: #553C8B;
        opacity: 0.9;
        height: 360px;
    }
    .brand-title {
        font-family: 'Montserrat', sans-serif;
        line-height: 140%;
    }

    .btn {
        border-radius: 2px;
    }

    .btn-brand-dark {
        background-color: #553C8B;
        color: white;
    }

    h2 {
        /* Heading 2 */
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;

        /* Typography/Black */
        color: #333333;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 24px 0px;
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    h5 {

    }

    h6 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }



    p {
        /* Regular text */
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */


        /* Typography/Black */
        color: #333333;


        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 24px 0px;
    }

    li {
        /* Regular text */
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */

        /* Typography/Black */
        color: #333333;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .sticky-menu {
        background-color: #F6F7FA;
    }

    .list-group {
        border-radius: 8px;
        background-color: #F6F7FA;
    }

    .list-group-item-light {
        color: #333333;
        background-color: #F6F7FA;
        margin-left: 24px;
        margin-right: 24px;
    }

    .brand-short-description {
        color: white;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }

</style>

<main id="main" aria-label="Content" tabindex="-1" class="">
    <div class="home">
        <%
            title = custom_course_details.get('title')
            short_description = custom_course_details.get('short_description')
        %>
        <div class="jumbotron-brand d-flex justify-content-between align-items-center">
            <div class="pt-5 px-5 w-75">

                %if title != None:
                    <h1 class="text-white font-weight-bold text-left brand-title">${title}</h1>
                %endif
                %if title != None:
                    <p class="brand-short-description">${ short_description | n }</p>
                %endif

                <div class="main-cta pb-5">
                %if user.is_authenticated and registered:
                    %if show_courseware_link:
                        <a type="button" class="btn btn-brand-white" href="${course_target}">
                    %endif
                            <span class="register disabled">${_("Вы записаны на этот курс")}</span>
                            %if show_courseware_link:
                            <strong>${_("Посмотреть курс")}</strong>
                        </a>
                            %endif
                % elif is_course_full:
                    <span class="register disabled">${_("Курс пройден")}</span>
                % elif (is_courses_default_invite_only_enabled() or invitation_only) and not can_enroll:
                    <span class="register disabled">${_("Только по приглашению")}</span>
                    <span class="register disabled">${_("Запись закрыта")}</span>
                %elif allow_anonymous:
                    %if show_courseware_link:
                        <a type="button" class="btn btn-brand-white" href="${course_target}"><strong>${_("Посмотреть курс")}</strong></a>
                    %endif
                %elif is_document_required:
                    <a type="button" class="btn btn-brand-white" href="https://account.copp.knotta.ru/#documents" target="_blank" class="register">${_("Подать документы")}</a>
                %else:
                    <%
                        if ecommerce_checkout:
                            reg_href = ecommerce_checkout_link
                        else:
                            reg_href="#"
                        if single_paid_mode:
                            href_class = "add-to-cart"
                        else:
                            href_class = "register"
                    %>
                    <a type="button" class="btn btn-brand-white" href="${reg_href}" class="${href_class}">${_("Записаться")}</a>
                    <div id="register_error"></div>
                %endif
            </div>
            </div>
            <div class="mr-5 h-75 d-flex align-items-center">
                <%
                    image = custom_course_details.get('image')
                    course_image_url = ''

                    if image is None or len(image) == 0:
                        course_image_url = "static/images/brand/img-logo_full.svg"
                        background = 'background: #553C8B'
                    else:
                        course_image_url = image['src']
                        background = 'background: '
                %>

                %if custom_course_details.get('video') != None:
                    <a href="#video-modal" class="media" rel="leanModal">
                        <img class="rounded-4 float-right img-fluid" style="height: 80%; width: 100%" src="${custom_course_details.get('video')}" alt="" />
                        <div class="play-intro"></div>
                    </a>
                %else:
                    <img class="rounded-4 float-right img-fluid" style="max-width:100%;height: auto;max-height: 100%;" src="${course_image_url}" alt="" />
                % endif
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="px-5 mb-5 w-75">
            %if custom_course_details.get('full_description') != None:
                <section class="about mb-3">
                    <h2 class="">💡 ${_("Об этом курсе")}</h2>
                    ${ custom_course_details.get('full_description') | n }
                </section>
            %endif

            %if custom_course_details.get('outcome') != None:
                <section class="outcome mb-3">
                    <h2 class="">${_("Результат")}</h2>
                    ${ custom_course_details.get('outcome') | n }
                </section>
            %endif

            %if custom_course_details.get('syllabus_raw') != None:
                <section class="syllabus mb-3">
                    <h2>${_("Учебный план")}</h2>
                    ${ custom_course_details.get('syllabus_raw') | n }
                </section>
            %endif

            <%
                staff = custom_course_details.get('staff')
            %>

            %if staff != None:
                %if len(staff) > 0:
                    <section class="course-staff mb-3">
                        <h2>${_("Преподаватели курса")}</h2>
                        <div class="d-flex flex-wrap flex-row">
                            %for instructor in staff:
                                <div class="card mr-4 border-0">
                                    <div class="card-horizontal">
                                        %if instructor.get('profile_image') != None:
                                            <div class="img-square-wrapper">
                                                <img class="float-left rounded-circle" src="${instructor['profile_image']['medium']['url']}" align="left" alt="Изображение преподавателя">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">${instructor["given_name"]} ${instructor["family_name"]}</h5>
                                                <p class="card-text">${instructor["position"]["title"]} ${instructor["position"]["organization_name"]}</p>
                                            </div>
                                        %endif
                                    </div>
                                </div>
                            %endfor
                        </div>
                    </section>
                %endif
            %endif

            %if custom_course_details.get('faq') != None:
                <section class="faq mb-3">
                    <h2>${_("Ответы на вопросы")}</h2>
                    ${ custom_course_details.get('faq') | n }
                </section>
            %endif

        </div>
        <div class="mr-4 flex-grow-1 sticky-top">
            <section class="mt-4">
                    <ul class="list-group list-group-flush mt-0">
                        <%
                            if custom_course_details.get('weeks_to_complete') != None:
                                days = str(custom_course_details.get('weeks_to_complete') * 5)
                                if custom_course_details.get('min_effort') != None and custom_course_details.get('max_effort') != None:
                                    hours = str( custom_course_details.get('min_effort') + custom_course_details.get('max_effort') / 2 )
                                    effort = days + ' д. ' + 'по ' + hours + ' ч.'
                                else:
                                    effort = days + ' д.'
                        %>
                        %if custom_course_details.get('weeks_to_complete') != None:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <img class="mr-2" src="../../static/images/brand/icon-time.svg">
                                ${effort}
                            </li>
                        %endif

                        <%
                            owners = custom_course_details.get('owners')
                        %>

                        %if owners != None and len(owners) > 0:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <img class="mr-2" src="../../static/images/brand/icon-course.svg">
                                Организация: ${custom_course_details.get('owners')[0]['name']}
                            </li>
                        %endif

                        <%
                            pacing_type = custom_course_details.get('pacing_type')
                            if pacing_type != None:
                                if pacing_type == 'instructor_paced':
                                    pacing_type = 'С преподавателем'
                                else:
                                    pacing_type = 'Самостоятельно'
                        %>
                        %if pacing_type != None:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <img class="mr-2" src="../../static/images/brand/icon-user.svg">
                                Формат: ${pacing_type}
                            </li>
                        %endif
                         %if custom_course_details.get('level_type') != None:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <img class="mr-2" src="../../static/images/brand/icon-calendar.svg">
                                Уровень: ${custom_course_details.get('level_type')}
                            </li>
                        %endif
                        %if custom_course_details.get('first_enrollable_paid_seat_price') != None:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <span class="text-brand-main mr-2 icon fa fa-money" aria-hidden="true"></span>
                                Цена: ${custom_course_details.get('first_enrollable_paid_seat_price')} руб.
                            </li>
                        %else:
                            <li class="pl-0 list-group-item list-group-item-light d-flex align-items-center">
                                <span class="text-brand-main mr-2 icon fa fa-money" aria-hidden="true"></span>
                                Цена: Бесплатно
                            </li>
                        %endif
                        %if not is_document_required:
                            <a type="button" class="btn btn-brand-dark my-3 mx-4" href="https://account.copp.knotta.ru/#documents" target="_blank" class="register">${_("Записаться")}</a>
                        %endif
                    </ul>
                </section>
                %if is_document_required:
                    <section class="pb-5">
                        <h4 class="mt-4 mb-3">Необходимые документы</h4>
                        <div class="d-flex flex-column justify-content-center sticky-menu">
                            <ul class="list-group list-group-flush">
                                % for doc in required_doc_types:
                                    <li class="pl-0 list-group-item d-flex justify-content-between align-items-center list-group-item-light">
                                        ${doc['label']}
                                        <img class="ml-4" src="../../static/images/brand/icon-warning.svg">
                                    </li>
                                % endfor
                                % for doc in exist_doc_types:
                                    <li class="pl-0 list-group-item d-flex justify-content-between align-items-center list-group-item-light">
                                        ${doc['label']}
                                        <img class="ml-4" src="../../static/images/brand/icon-verify.svg">
                                    </li>
                                % endfor
                            </ul>
                            <a type="button" class="btn btn-brand-dark my-3 mx-4" href="https://account.copp.knotta.ru" class="register">${_("Подать документы")}</a>
                        </div>
                    </section>
                %endif
        </div>
    </div>

    %if active_reg_button or is_shib_course:
      <div style="display: none;">
        <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
          <fieldset class="enroll_fieldset">
            <legend class="sr">${pgettext("self","Enroll")}</legend>
            <input name="course_id" type="hidden" value="${course.id}">
            <input name="enrollment_action" type="hidden" value="enroll">
          </fieldset>
          <div class="submit">
            <input name="submit" type="submit" value="${pgettext('self','enroll')}">
          </div>
        </form>
      </div>
    %endif

    <%include file="../video_modal.html" />

    <%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
        DateUtilFactory.transform(iterationKey=".localized_datetime");
    </%static:require_module_async>
</main>

