## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<nav id="footer" class="navbar navbar-expand-lg navbar-light bg-brand pl-4 pr-0 py-0">
    <a class="navbar-brand ps-4" href="#">
        <img class="logo" width="60px" height="60px" src="https://copp26.ru/upload/openedx/logo_small_White.svg" alt={logoAltText} />
    </a>
    <div class="container-fluid mr-4 pr-4">
        <a class="text-white" href="${marketing_link('COURSES')}">${_("Courses")}</a>
        <a class="text-white" href="${marketing_link('HOW_IT_WORKS')}">${_("About Us")}</a>
        <a class="text-white" href="${marketing_link('HOW_IT_WORKS')}">${_("Contacts")}</a>
        <a class="text-white" href="${marketing_link('SCHOOLS')}">${_("Help")}</a>
    </div>
    <img src='https://copp26.ru/upload/openedx/footer_background.png' class="img-fluid h-100" style="width: 40%; height: 100%"/>
</nav>

<!--<script>-->
<!--    if ($(document).height() <= $(window).height()) {-->
<!--        $("#footer").addClass("fixed-bottom");-->
<!--    }-->
<!--</script>-->
