<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<style>
    .brand-title {
        font-family: 'Montserrat', sans-serif;
        line-height: 140%;
    }
    .brand-subtitle {
        font-size: 22px;
        line-height: 160%;
        font-family: "Roboto", sans-serif;
    }
</style>
<div class="container">
<div class="col-9">
    <h1 class="text-white font-weight-bold text-left brand-title pb-4">${Text(_(u"Welcome to"))}<br>${Text("{platform_name}").format(platform_name=settings.PLATFORM_NAME)}</h1>
    <p class="text-white brand-subtitle pb-4">${Text(_("{platform_name} are ready to offer in-demand and new professional programs")).format(platform_name=settings.PLATFORM_NAME)}</p>
</div>
</div>
