## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type

from openedx.core.djangoapps.user_authn.toggles import should_redirect_to_authn_microfrontend
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', True))
  #mktg_site_enabled = True
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
  should_redirect_to_authn_mfe = should_redirect_to_authn_microfrontend()
%>
<style>

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-brand" aria-label="${_('Supplemental Links')}">
    <div class="container-fluid">
        <a class="navbar-brand ps-4" href="#">
            <img class="logo" width="50px" height="50px" src="https://copp26.ru/upload/openedx/logo_small_White.svg" alt={logoAltText} />
        </a>
        <div class="collapse navbar-collapse d-flex">
            <ul class="nav navbar-nav mb-2 mb-lg-0 w-100 align-items-center">
                % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                    <li class="nav-item flex-grow-1 px-4">
                        <form method="get" action="/courses">
                            <div class="input-group d-flex align-items-center pe-4">
                                <input class="form-control border-end-0 border rounded-pill search-input px-4"
                                       name="search_query"
                                       type="text"
                                       placeholder="${_('Search for a course')}"
                                       id="search-input"
                                />
                                    <span class="input-group-append">
                                        <a class="btn ms-n5 py-1" type="submit">
                                            <i class="fa fa-search fa-lg" style="color: #553C8B;"></i>
                                        </a>
                                    </span>
                            </div>
                        </form>
                    </li>
                % endif

                <li class="nav-item px-4">
                    <a class="text-white" href="${marketing_link('COURSES')}">${_("Courses")}</a>
                </li>
                <li class="nav-item px-4">
                    <a class="text-white" href="${marketing_link('ABOUT')}">${_("About Us")}</a>
                </li>

                    <li class="nav-item px-4">
                        <a class="text-white" href="${marketing_link('CONTACT')}">${_("Contacts")}</a>
                    </li>

                <li class="nav-item px-4">
                    <a class="text-white" href="${marketing_link('FAQ')}">${_("Help")}</a>
                </li>

            </ul>
        </div>
        <ul class="nav navbar-nav me-4 mb-2 mb-lg-0 ms-4">
            % if allows_login:
                % if should_redirect_to_authn_mfe:
                    <li class="nav nav-item">
                        <a class="btn btn-brand-white" href="${settings.AUTHN_MICROFRONTEND_URL}/login${login_query()}">${_("Sign in")}</a>
                    </li>
                % else:
                    <li class="nav nav-item">
                        <a class="btn btn-brand-white" href="/login${login_query()}">${_("Sign in")}</a>
                    </li>
                % endif
            % endif
        </ul>
    </div>
</nav>
